@charset "utf-8";

/* keyframes */
@keyframes cpulse {
	0% {opacity: 1;/* transform: scale(1)*/;}
	25% {opacity: 0;/* transform: scale(0)*/;}
	100% {opacity: 1;/* transform: scale(1)*/;}
}

.clock {
	display: flex;
	flex-flow: row wrap;
}
.clock > .separator {
	animation: cpulse 1s var(--animation-interpolator) infinite;
}