@charset "utf-8";


::selection {
	/*color: ;*/
	background: var(--accentcolor);
}
:root {
	--bgcolor: rgb(10,10,10);
	--block-bgcolor: rgba(20,20,20,1);
	--block-contentcolor: rgba(31,31,31,1);
	--block-bordercolor: rgba(20,20,20,1);
	--selcolor: 255;
	--opaque-selcolor: 40;
	--textcolor: rgba(245,245,245,1);

	--h: 220;
	--s: 40%;
	--l: 60%;
	--a: 1;
	--accentcolor: hsla(var(--h), var(--s), var(--l), var(--a));
	--glow-radius: 2px;
	--glow: 0 1px var(--glow-radius) hsla(var(--h), var(--s), var(--l), 0.25);

	--hm: var(--h);
	--sm: var(--s);
	--lm: var(--l);
	--accentcolorm: hsla(var(--hm), var(--sm), var(--lm), var(--a));
}