@charset "utf-8";


::selection {
	/*color: ;*/
	background: var(--accentcolor);
}
:root {
	--selcolor: 255;
	--opaque-selcolor: 40;
	--textcolor: rgba(215,215,220,1);

	--h: 220;
	--s: 40%;
	--l: 60%;
	--a: 1;
	--accentcolor: hsla(var(--h), var(--s), var(--l), var(--a));
	--glow-radius: 2px;
	--glow: 0 1px var(--glow-radius) hsla(var(--h), var(--s), var(--l), 0.25);

	--hm: var(--h);
	--sm: var(--s);
	--lm: var(--l);
	--accentcolorm: hsla(var(--hm), var(--sm), var(--lm), var(--a));
	
	/*new stuff*/
	--ln: 5%;
	--ln-inv: calc(100% - var(--ln));
	--bgcolor: hsl(var(--h), 25%, var(--ln));
	--block-bgcolor: hsl(var(--h), 10%, calc(var(--ln) - 10%));
	--block-contentcolor: hsl(var(--h), 20%, calc(var(--ln) + 5%));
	
	--inactivecolor: rgba(var(--selcolor), var(--selcolor), var(--selcolor), 0.25);
}