@charset "utf-8";


/* content */
html {
	font-size: var(--font-size);
}
p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.content {
	color: var(--text-color);
	
	border-radius: var(--block-borderradius);
}
.content > input[type=text] {
	font-family: var(--font-content);
	font-size: var(--font-size-input);
	font-weight: var(--font-weight-content);
}
output.content {
	border-radius: var(--borderradius);
	
	font-family: var(--font-content);
	font-size: var(--font-size-input);
	font-weight: var(--font-weight-content);
}
button > .content {	
	font-family: var(--font-button);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
}

.titlecontent {
	/*padding-top: var(--block-title-padding);
	padding-bottom: 0.25rem;*/
	
	color: var(--text-color-darker);
	
	font-family: var(--font-head);
	font-size: var(--font-size-head);
	font-weight: var(--font-weight-head);
    /*text-align: center;*/
}
button > .titlecontent {
	padding-top: 0rem;
	padding-bottom: 0rem;

	font-family: var(--font-head);
	font-size: var(--font-size-head);
	font-weight: var(--font-weight-head);
}

.textcontent {
	font-family: var(--font-content);
	font-size: var(--font-size-content);
	font-weight: var(--font-weight-content);
	hyphens: auto;
}

.imagecontent {
	padding: 0rem !important;
	height: auto;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.imagecontent > .image {
	width: var(--block-width);
	clip-path: inset(0rem round var(--block-borderradius));
}

.bgcontent {
	background-color: var(--block-content-bg-color);
}

.bgtitle {
	background-color: var(--block-title-bg-color);
}

.contentbox > .titlecontent {
	font-size: var(--font-size-button);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.contentbox > .content {
	padding: var(--content-padding);
}
/*  horizontal bar w/border  */
.h-bar-border > * {
	border: var(--theme-border);
	box-shadow: var(--theme-glow);
}
.h-bar-border > *:first-child:not(:only-child) {
	border-right-width: calc(0.5 * var(--borderwidth));
}
.h-bar-border > *:not(:first-child):not(:last-child):not(:only-child) {
	border-right-width: calc(0.5 * var(--borderwidth));
	border-left-width: calc(0.5 * var(--borderwidth));
}
.h-bar-border > *:last-child:not(:only-child) {
	border-left-width: calc(0.5 * var(--borderwidth));
}