@charset "utf-8";
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBoldCondensed.woff2');
    src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlackCondensed.woff2');
    src: local('Helvetica Neue Condensed Black'), local('HelveticaNeueBlackCondensed');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.woff2');
    src: local('HelveticaNeueCyr-Bold');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light.woff2');
    src: local('HelveticaNeueCyr-Light');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium.woff2');
    src: local('HelveticaNeueCyr-Medium');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-MediumItalic.woff2');
    src: local('HelveticaNeueCyr-MediumItalic');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.woff2');
    src: local('HelveticaNeueCyr-LightItalic');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-HeavyItalic.woff2');
    src: local('HelveticaNeueCyr-HeavyItalic');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Black.woff2');
    src: local('HelveticaNeueCyr-Black');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Heavy.woff2');
    src: local('HelveticaNeueCyr-Heavy');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Italic.woff2');
    src: local('HelveticaNeueCyr-Italic');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2');
    src: local('HelveticaNeueCyr-Roman');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-BlackItalic.woff2');
    src: local('HelveticaNeueCyr-BlackItalic');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-UltraLightItalic.woff2');
    src: local('HelveticaNeueCyr-UltraLightItalic');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-BoldItalic.woff2');
    src: local('HelveticaNeueCyr-BoldItalic');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-ThinItalic.woff2');
    src: local('HelveticaNeueCyr-ThinItalic');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-UltraLight.woff2');
    src: local('HelveticaNeueCyr-UltraLight');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Thin.woff2');
    src: local('HelveticaNeueCyr-Thin');
    font-weight: 100;
    font-style: normal;
}


html {
	--font-head: Jost, "sans-serif";
	--font-content: Jost, "sans-serif";
	--font-weight-head: 500;
	--font-weight-content: 500;
	--font-size-head: 16pt;
	--font-size-content: 12pt;
	--font-size-input: 12pt;
	--font-size-button: 14pt;
}