@charset "utf-8";


/* Form elements */
button {
	box-sizing: border-box;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.25rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	color: var(--text-color);
	background-color: var(--theme-input-color);
	
	border: none;
	border-radius: var(--borderradius);
	
	white-space: nowrap;
	cursor: pointer;
}
button:hover {
	background-color: var(--theme-input-color-hover);
}
button:active,
button:focus {
	background-color: var(--theme-input-color-active);
}

input[type=text] {
	box-sizing: border-box;
	padding: 0.5rem;
	
	color: var(--text-color);
	background-color: var(--theme-textinput-color);
	
	/*border: none;*/
	border-radius: var(--borderradius);
}
input[type=text]:hover {
	background-color: var(--theme-input-color-hover);
}
input[type=text]:active,
input[type=text]:focus {
	background-color: var(--theme-input-color-active);
}

output {
	box-sizing: border-box;
	padding: 0.5rem;
	
	color: var(--text-color);
	background-color: var(--theme-input-color-hover);
	
	border: var(--theme-border-inactive);
	border-radius: var(--borderradius);
}

.bar input[type=text],
.bar output {
	width: 4rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

input[type="range"] { /* hiding default style */
	width: 100%;
	height: var(--adp-height);
	appearance: none;
	outline: none !important;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	touch-action: none;
}
input[type="range"]::-moz-focus-outer {
	border: 0;
}
input[type="range"]:hover {
	outline: none;
}

input[type="range"]::-moz-range-thumb {
	width: 0.5rem;
	height: 0.5rem;
	
	background: var(--theme-input-handle-color);
	
	border: var(--theme-border-manual);
	border-radius: var(--borderradius);
	
	box-shadow: var(--theme-glow);
	cursor: pointer;
}
input[type="range"]::-moz-range-progress {
	height: var(--borderwidth);
	
	background-color: var(--accent-color-manual);
	
	border: none;
	border-radius: var(--block-borderradius);
	
	box-shadow: var(--theme-glow);
}
input[type="range"]::-moz-range-track {
	height: var(--borderwidth);
	
	background-color: var(--accent-color-inactive);
	
	border: none;
	border-radius: var(--block-borderradius);
}


/* switch style checkbox */
.switch {
	position: relative;
	margin: 1rem;
	height: 100%;
	
	box-sizing: border-box;
}
.swinput {
	display: none;
}
.swlabel {
	display: block;
	width: 2rem;
	height: var(--adp-height);
	
	box-sizing: inherit;
	color: transparent;
	
	border-radius: var(--borderradius);
	user-select: none;
	cursor: pointer;
}
.swlabel::before,
.swlabel::after {
	content: "";
	display: block;
	position: relative;
	
	box-sizing: inherit;
	
	border-radius: var(--borderradius);
}
.swlabel::before {
	top: calc(50% -  0.5 * var(--borderwidth));
	left: 0.5rem;
	width: 1rem;
	height: var(--borderwidth);
	
	background-color: var(--accent-color-inactive);
}
.swlabel::after {
	top: calc(50% - (0.5em + var(--borderwidth)));
	left: 0rem;
	width: 1rem;
	height: 1rem;
	
	background-color: var(--theme-input-handle-color);
	border: var(--theme-border);
	
	box-shadow: var(--theme-glow);
}
.swinput:checked + .swlabel::before {
	background-color: var(--accent-color);
	box-shadow: var(--theme-glow);
}
.swinput:checked + .swlabel::after {
	left: 1rem;
}

/* collapsible checkbox */
.collinput + .colllabel + .collapsible {
	/*transform: scaleY(0%);*/
	max-height: 0rem;
	padding-top: 0;
	padding-bottom: 0;
	
	overflow: hidden;
	transition: all var(--animation-duration-slow);
}
.collinput:checked + .colllabel + .collapsible {
	/*transform: scaleY(100%);*/
	max-height: 200rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	transition: all var(--animation-duration-plus-slow);
}
.collinput {
	display: none;
}
.colllabel {
	display: inline-block;
	position: relative;
	
	cursor: pointer;
}
.colllabel::before {
	content: ' ';
	display: inline-block;

	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;

	vertical-align: middle;
	margin-left: -1rem;
	margin-right: 0.5rem;
	transform: translateY(-2px);
}
.collinput:checked + .colllabel::before {
	transform: rotate(90deg) translateX(-3px);
}
.colllabel.titlecontent {
	--3d-scale: 0.5;
	padding-bottom: var(--block-title-padding);
}
.colllabel.titlecontent:hover {
	background-color: var(--theme-input-color-hover);
}
.colllabel.titlecontent:active,
.colllabel.titlecontent:focus {
	background-color: var(--theme-input-color-active);
}
