@charset "utf-8";
/* Form elements */
button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 2px;
	border: none;
	border-radius: var(--borderradius);
	color: var(--input-textcolor);
	background-color: hsla(var(--h), var(--s), var(--l), 0);
	white-space: nowrap;
	cursor: pointer;
}
button:hover {
	background-color: hsla(var(--h), var(--s), var(--l), 0.05);
}
button:active,
button:focus {
	background-color: hsla(var(--h), var(--s), var(--l), 0.1);
}

.buttonactive {
	text-decoration: underline var(--accentcolor) solid;
	text-underline-offset: 0.25em;
	text-decoration-thickness: var(--borderwidth);
}

output {
	box-sizing: border-box;
	padding: 5px;
	border: solid var(--borderwidth) var(--inactivecolor);
	border-radius: var(--borderradius);
	color: var(--textcolor);
	background-color: hsla(var(--h), var(--s), var(--l), 0.02);
	width: 60px;
}
input[type=text] {
	box-sizing: border-box;
	padding: 10px;
	border-radius: var(--borderradius);
	color: var(--textcolor);
	background-color: hsla(var(--h), var(--s), var(--l), 0.02);
	width: 60px;
}
input[type=text]:hover {
	background-color: hsla(var(--h), var(--s), var(--l), 0.05);
}
input[type=text]:active,
input[type=text]:focus {
	background-color: hsla(var(--h), var(--s), var(--l), 0.1);
}


input[type="range"] {
	width: 100%;
	height: var(--adp-height);
	appearance: none;
	outline: none !important;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
input[type="range"]::-moz-focus-outer {
	border: 0;
}
input[type="range"]:hover {
	outline: none;
}

input[type="range"]::-moz-range-thumb {
	width: 1em;
	height: 1em;
	background: var(--block-contentcolor);
	cursor: pointer;
	border-radius: var(--borderradius);
	border: solid var(--borderwidth) var(--accentcolorm);
	outline: none;
	box-shadow: var(--glow);
}
input[type="range"]::-moz-range-progress {
	background-color: var(--accentcolorm);
	height: var(--borderwidth);
	border-radius: var(--block-borderradius);
	border: none;
	box-shadow: var(--glow);
}
input[type="range"]::-moz-range-track {
	background-color: var(--inactivecolor);
	border-radius: var(--block-borderradius);
	border: none;
	height: var(--borderwidth);
}


.switch {
	box-sizing: border-box;
	display: flex;
	flex-flow: row-reverse;
	position: relative;
	margin: 10px;
	margin-bottom: 0px;
}
.swinput {
	display: none;
}
.swlabel {
	box-sizing: inherit;
	display: block;
	color: transparent;
	user-select: none;
	cursor: pointer;
	width: 2em;
	height: var(--adp-height);
	border-radius: var(--borderradius);
}
.swlabel::before,
.swlabel::after {
	box-sizing: inherit;
	content: "";
	display: block;
	position: relative;
	border-radius: var(--borderradius);
}
.swlabel::before {
	top: calc(50% -  0.5 * var(--borderwidth));
	left: 0.5em;
	width: 1em;
	height: var(--borderwidth);
	background-color: var(--block-bgcolor);
	transition: calc(3*var(--animation-duration)) var(--animation-interpolator);
}
.swlabel::after {
	top: calc(50% - (0.5em + var(--borderwidth)));
	left: 0em;
	width: 1em;
	height: 1em;
	border: solid var(--borderwidth) var(--accentcolor);
	background-color: var(--block-contentcolor);
	transition: var(--animation-duration) var(--animation-interpolator);
	box-shadow: var(--glow);
}
.swinput:checked + .swlabel::before {
	background-color: var(--accentcolor);
	box-shadow: var(--glow);
}
.swinput:checked + .swlabel::after {
	left: 1em;
}