@charset "utf-8";


/* media queries */
@media all 
and (min-width: 0em) {
.blockwrap {
	align-items: flex-start;
}
.scroll-block {
	padding-top: 8rem;
}
}

@media all 
and (min-width: 45em) {
.scroll-block {
	padding-top: 3rem;
}
.blockwrap {
	align-items: center;
	height: 100%;
	width: 100%;
}
}


/* layout */
.test {
	border: 1px solid red;
}
* {
	scroll-behavior: smooth;
}
body {
	margin: 0rem;
	background: var(--background-color);
}


/*  scroller layout  */
.scroller {
	scroll-snap-type: y mandatory;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	position: absolute;
	top: 0rem;
	scrollbar-width: none;
}
.scroller::-webkit-scrollbar {
    width: 0rem;
}

.scroll-block {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	
	scroll-snap-align: start;
	overflow: clip;
}

.blockwrap {
	flex-flow: row wrap;
	justify-content: center;
	
	display: flex;
}


/* block rules */
.block {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	
	display: flex;
	flex-flow: column nowrap;
	min-width: var(--block-width);
	max-width: calc(2 * var(--block-width));
	
	border-bottom: var(--theme-border);
	border-radius: var(--block-borderradius);
	
	box-shadow: var(--theme-block-shadow);
}
.block:hover,
.block:active,
.block:focus {
	box-shadow: var(--theme-block-shadow-hover);
}


/* content merging in a bar rules */
.bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}
.bar > * {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	min-height: 2.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	
	border-radius: var(--borderradius);
}
.bar:hover > *,
.bar:active > *,
.bar:focus > * {/*
	transition: var(--animation-duration);
	transition-timing-function: var(--animation-interpolator);*/
}
.bar.titlebar,
.bar.actbar,
.bar.row-bar {
	padding: 0rem;
}

.bar.titlebar {
	--3d-scale: 0.5;
}
.bar.actbar {
	--3d-scale: 0.75;
	flex-flow: row-reverse nowrap;
}


/* row style content bar rules */
.row-bar > * {
	border: var(--theme-border);
	box-shadow: var(--theme-glow);
}
.row-bar > *:first-child:not(:only-child) {
	margin-right: 0rem;
	
	border-radius: var(--borderradius) 0rem 0rem var(--borderradius);
	border-right-width: calc(0.5 * var(--borderwidth));
}
.row-bar > *:not(:first-child):not(:last-child):not(:only-child) {
	margin-left: 0rem;
	margin-right: 0rem;
	
	border-radius: 0rem;
	border-right-width: calc(0.5 * var(--borderwidth));
	border-left-width: calc(0.5 * var(--borderwidth));
}
.row-bar > *:last-child:not(:only-child) {
	margin-left: 0rem;
	
	border-radius: 0rem var(--borderradius) var(--borderradius) 0rem;
	border-left-width: calc(0.5 * var(--borderwidth));
}


/* other content bar rules */
.bar.rangebar {
	padding: 0rem;
	
	display: flex;
	align-items: center;
}

.bar.rangebar > * {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.contentbox {
	margin: 0.5rem;
	border: var(--theme-border);
	background-color: var(--contentbox-bg-color);
	box-shadow: var(--theme-glow);
}
/*.contentbox .bar > * {
	margin: 0rem;
}*/

/* block types*/
.card {
	width: var(--block-width);
}