@charset "utf-8";


/*  media queries  */
@media (min-width: 0em) {
.blockwrap {
	align-items: flex-start;
}
.scroll-block {
	padding-top: 3rem;
}
}

@media (min-width: 45em) {
.scroll-block {
	padding-top: 3rem;
}
.blockwrap {
	align-items: center;
	height: 100%;
	width: 100%;
}
}


/*  common layout  */
* {
	scroll-behavior: smooth;
}
:focus {
	outline-offset: calc(-1 * var(--borderwidth));
}
body {
	margin: 0rem;
	background: var(--background-color);
}

.test {
	border: 1px solid red;
}


/*  scroller layout  */
.scroller {
	scroll-snap-type: y mandatory;
	position: absolute;
	top: 0rem;
	height: 100vh;
	width: 100vw;
	
	overflow: auto;
	scrollbar-width: none;
}
.scroller::-webkit-scrollbar {
    width: 0rem;
}

.scroll-block {
	content-visibility: auto;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	
	scroll-snap-align: start;
	overflow: clip;
}

.blockwrap {
	flex-flow: row wrap;
	justify-content: center;
	
	display: flex;
}


/*  block rules  */
.block {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	
	display: flex;
	flex-flow: column nowrap;
	min-width: var(--block-width);
	max-width: calc(2 * var(--block-width));
	
	border-bottom: var(--theme-border);
	border-radius: var(--block-borderradius);
	
	box-shadow: var(--theme-block-shadow);
}
.block:hover,
.block:active,
.block:focus {
	box-shadow: var(--theme-block-shadow-hover);
}

/* content merging in a block */
.block > * {
	padding: var(--content-padding);
}
.block > *:first-child:not(:only-child) {
	padding-top: var(--block-title-padding);
	padding-bottom: var(--block-title-padding-bottom);
}
.block > *:not(:first-child):not(:last-child):not(:only-child) {
	padding-top: var(--block-padding);
	padding-bottom: var(--block-padding);
}
.block > *:last-child:not(:only-child) {
	padding-top: var(--block-padding);
	padding-bottom: var(--content-padding);
}

/* content merging in a bar */
.bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}
.bar > * {
	height: 2.5rem;
	
	border-radius: var(--borderradius);
}
.horiz-bar > *:first-child:not(:only-child) {
	margin-right: 0rem;
	
	border-radius: var(--borderradius) 0rem 0rem var(--borderradius);
}
.horiz-bar > *:not(:first-child):not(:last-child):not(:only-child) {
	margin-left: 0rem;
	margin-right: 0rem;
	
	border-radius: 0rem;
}
.horiz-bar > *:last-child:not(:only-child) {
	margin-left: 0rem;
	
	border-radius: 0rem var(--borderradius) var(--borderradius) 0rem;
}


/* specific bar type rules */
.titlebar,
.actbar {
	padding: 0rem !important;
}
.titlebar {
	--3d-scale: 0.5;
}
.actbar {
	--3d-scale: 0.75;
	flex-flow: row-reverse nowrap;
}


/* other content bar rules */
.bar.rangebar {
	padding: 0rem;
	
	display: flex;
	align-items: center;
}

.bar.rangebar > * {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.contentbox {
	margin: 0.5rem;
	
	background-color: var(--contentbox-bg-color);
	
	border: var(--theme-border);
	border-radius: var(--borderradius);
	
	box-shadow: var(--theme-glow);
}
.contentbox .titlecontent.animated {
	--3d-scale: 0.5;
}


/* block types*/
.card {
	width: var(--block-width);
}
.colorprv {
	width: 5rem;
	height: 5rem;
}
.accent-cl {
	background-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 60%);
}
.accent-darker {
	background-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 40%);
}
.accent-lighter {
	background-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 80%);
}