@charset "utf-8";
@keyframes circler {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.colorwheel {
	display: inline-block;
	padding: 5px;
	border-radius: 100%;
	background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-size: auto;
	opacity: 0.9;
	animation: circler 20s linear infinite;
	transition-duration: var(--animation-duration);
}

.colorwheel::after {
	content: '';
	display: block;
	padding: 75px;
	border-radius: 100%;
	background: var(--block-contentcolor);
	transition-duration: var(--animation-duration);
}