@charset "utf-8";

/* keyframes */
@keyframes pulse {
	0% {opacity: 0; transform: scale(0);}
	50% {opacity: 1; transform: scale(1);}
	100% {opacity: 0; transform: scale(2);}
}
.pulsar {
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 20px;
	background: var(--accentcolor);
	opacity: 0;
}
.pulse {
	animation-name: pulse;
	animation-duration: var(--animation-duration);
	/*animation-fill-mode: forwards;*/
}