@charset "utf-8";
@import url("vars.css");
@import url("../fonts/fonts.css");



/*  media queries  */
@media (min-width: 0em) {
.scroller {
	width: 100vw;
}
.block {
	margin: 1rem 0rem 1rem 0rem;
}
.header {
	position: relative;
	padding: 1rem 2rem 1rem 2rem;
}
label.switch {
	margin: 0;
}
.hidden {
	display: none;
}
}
@media (min-width: 35em) {
.block {
	margin: 1rem 2rem 1rem 2rem;
}
.header {
	position: sticky;
	padding: 5rem 4rem 1rem 4rem;
}
label.switch {
	margin: 0rem 1rem 0rem 1rem;
}
.hidden {
	display: inherit;
}
}
@media (min-width: 60em) {
.scroller {
	width: 50em;
}
}


/*    */
:root.animated,
:root.animated body,
:root.animated .block,
:root.animated .header {
	transition-property: all;
	transition-duration: var(--animation-duration-plus-slow);
	transition-timing-function: var(--animation-interpolator);
}
/*  common layout  */
* {
	scroll-behavior: smooth;
}
:focus {
	outline-offset: calc(-1 * var(--borderwidth));
}
body {
	margin: 0rem;
	background: var(--background-color);
}

.test {
	border: 1px solid red;
}


/*  block rules  */
.wrapper {
	display: flex;
	justify-content: center;
}

.block {
	
	display: flex;
	flex-flow: column nowrap;
	
	border-radius: var(--block-borderradius);
	
	background-color: var(--block-bg-color);
	box-shadow: var(--theme-block-shadow);
}
.block:hover,
.block:active,
.block:focus {
	background-color: var(--block-bg-color-hover);
	box-shadow: var(--theme-block-shadow-hover);
}


/*  header  */
.header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	
	border-bottom: var(--theme-border);
	z-index: 5;
}
.spacer {
	flex-basis: 0rem;
	flex-grow: 10;
}


/* content merging in a block */
.block > * {
	padding: 2rem;
}
.block > *:first-child:not(:only-child) {
	padding-top: 2rem;
	padding-bottom: 0.25rem;
}
.block > *:not(:first-child):not(:last-child):not(:only-child) {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.block > *:last-child:not(:only-child) {
	padding-top: 0.25rem;
	padding-bottom: 2rem;
}

/* content merging in a bar */
.bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}
.bar > * {	
	border-radius: var(--borderradius);
}
.bar > *:first-child:not(:only-child) {
	margin-right: 0rem;
	border-radius: var(--borderradius) 0rem 0rem var(--borderradius);
}
.bar > *:not(:first-child):not(:last-child):not(:only-child) {
	margin-left: 0rem;
	margin-right: 0rem;
	border-radius: 0rem;
}
.bar > *:last-child:not(:only-child) {
	margin-left: 0rem;
	border-radius: 0rem var(--borderradius) var(--borderradius) 0rem;
}


/* specific bar type rules */
.titlebar,
.actbar {
	padding: 0rem !important;
}
.titlebar {
	--3d-scale: 0.5;
}
.actbar {
	--3d-scale: 0.75;
	flex-flow: row-reverse nowrap;
}



/*  content  */
html {
	font-size: var(--font-size);
}
.content {
	color: var(--text-color);
	border-radius: var(--block-borderradius);
}

button > .content {	
	padding: 0.5rem 1rem;
	
	color: var(--background-color);
	
	font-family: var(--font-button);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
}

.titlecontent {
	color: var(--text-color-darker);
	
	font-family: var(--font-head);
	font-size: var(--font-size-head);
	font-weight: var(--font-weight-head);
    /*text-align: center;*/
}

.textcontent {
	font-family: var(--font-content);
	font-size: var(--font-size-content);
	font-weight: var(--font-weight-content);
	
	hyphens: auto;
}

.imagecontent {
	padding: 0rem !important;
	height: auto;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.imagecontent > .image {
	width: var(--block-width);
	clip-path: inset(0rem round var(--block-borderradius));
}


/*  https://www.joshwcomeau.com/animation/3d-button/  */
.push-an {
	position: relative;
	padding: 0;
	
	background: transparent;
	border: none;
	border-radius: var(--borderradius);
	
	cursor: pointer;
    transform: translateY(0.1rem);
}
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border-radius: inherit;
	background-color: var(--accent-color-10);
	transform: translateY(0.1rem);
}
.edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: var(--accent-color-darker);
}
.front {
	display: block;
	position: relative;
	padding: 0;
	
	border-radius: inherit;
	background-color: var(--accent-color-lighter);
	
    will-change: transform;
    transition-duration: var(--animation-duration-slow);
    transform: translateY(-0.25rem);
}
.push-an:hover {
	transition: filter;
    transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);
	filter: brightness(110%);
}
.push-an:hover .front {
    transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);
	transform: translateY(-0.3rem);
}
.push-an:hover .shadow {
    /*transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);*/
	transform: translateY(0.15rem);
}
.push-an:active .front {
    transition-duration: var(--animation-duration-plus-fast);
	transition-timing-function: var(--animation-interaction-interpolator);
	transform: translateY(-0.1rem);
}
.push-an:active .shadow {
    /*transition-duration: var(--animation-duration-plus-fast);*/
	transform: translateY(0.05rem);
}


/* switch style checkbox */
input.switch {
	display: none;
}
label.switch {
	opacity: 0.75;
}
label.switch > .front {
	display: flex;
	justify-content: center;
	width: 1rem;
	height: 1rem;
	border: solid var(--borderwidth) var(--accent-color-10);
}
label.switch > .content {
	padding: 0.25rem 0.5rem;
	
	color: var(--background-color);
	
	font-family: var(--font-button);
	font-size: var(--font-size);
	font-weight: var(--font-weight-head);
}

.switch:checked + label.switch > .front {
    transform: translateY(calc(-1.5 * var(--borderwidth)));
	background-color: var(--accent-color-darker);
	border: solid var(--borderwidth) var(--accent-color);
}
.switch:checked + label.switch:active > .front {
    transform: translateY(calc(-1 * var(--borderwidth)));
}
.switch:checked + label.switch > .content {
	color: var(--accent-color-lighter);
}/*
label.switch > .front::after {
	content: "◎";
}
.switch:checked + label.switch > .front::after {
	content: "◉";
}*/
/* clock */
@keyframes cpulse {
	0% {opacity: 1;/* transform: scale(1)*/;}
	25% {opacity: 0;/* transform: scale(0)*/;}
	100% {opacity: 1;/* transform: scale(1)*/;}
}

.clock {
	display: flex;
	flex-flow: row wrap;
}
.clock > .separator {
	animation: cpulse 1s var(--animation-interpolator) infinite;
}