@charset "utf-8";
@import url("vars.css");



/*  media queries  */

@media (min-width: 0em) {
.scroller {
	inline-size: 100vw;
}
.block {
	margin: 1rem 0rem 1rem 0rem;
}
.block > .gallery {
	padding-inline: 0.5rem;
	border-radius: 0;
}
.gallery-clipper {
	clip-path: inset(0 round calc(0.25 * var(--block-borderradius)));
	gap: 0.5rem;
}
.gallery-item {
	border-radius: calc(0.25 * var(--block-borderradius));
}
.content > .block > *:not(:only-child) { /*  */
	text-align: center;
}
header {
	padding: 1rem 2rem 1rem 2rem;
}
footer {
	padding: 1rem 2rem 1rem 2rem;
}
header .titlecontent {
	font-size: var(--font-size-head);
}
.bar {
	justify-content: center;
}
label.switch {
	margin: 0;
}
.hidden {
	display: none;
}
.imagecontent {
	flex-flow: column wrap;
	justify-content: center;
}
}
@media (min-width: 35em) {
.block {
	margin: 1rem 2rem 1rem 2rem;
}
.block > .gallery {
	padding: 1rem;
	border-radius: var(--block-borderradius);
}
.gallery-clipper {
	clip-path: inset(0 round calc(0.6 * var(--block-borderradius)));
	gap: 1rem;
}
.gallery-item {
	border-radius: calc(0.6 * var(--block-borderradius));
}
.content > .block > *:not(:only-child) { /*  */
	text-align: left;
}
header {
	padding: 5rem 4rem 1rem 4rem;
}
footer {
	padding: 1rem 4rem 5rem 4rem;
}
label.switch {
	margin: 0rem 1rem 0rem 1rem;
}
.hidden {
	display: inherit;
}
.bar {
	justify-content: flex-start;
}
.imagecontent {
	flex-flow: row wrap;
	justify-content: space-between;
}
}
@media (min-width: 60em) {
.scroller {
	inline-size: 50em;
}
.block > .gallery {
	padding: 2rem;
}
.gallery-clipper {
	clip-path: inset(0 round calc(0.5 * var(--block-borderradius)));
	gap: 1.5rem;
}
.gallery-item {
	border-radius: calc(0.5 * var(--block-borderradius));
}
header .titlecontent {
	font-size: calc(1.25 * var(--font-size-head));
}
}


/*  AnImAtIoNs!  */
@media (prefers-reduced-motion: no-preference) {
:focus-visible {
	transition-duration: var(--animation-duration-fast);
	transition-timing-function: var(--animation-bounceback-interpolator);
}
:root.animated,
:root.animated *:not(button),
:root.animated *:not(button):before,
:root.animated *:not(button):after {
	transition-property: all;
	transition-duration: var(--animation-duration-plus-slow);
	transition-timing-function: var(--animation-interpolator);
}
* {
	scroll-behavior: smooth;
}
.raisable:hover .image:not(.size-wide) .image-front {
	transform: scale(1.1);
}
.image .image-back {
	filter: var(--theme-blur-filter);
	transform: translateY(0.5rem);
}
.raisable:hover .image .image-back {
	filter: blur(0) opacity(0);
}
.push-an {
    transition-duration: var(--animation-duration-slow);
	transition-timing-function: var(--animation-interpolator);
}
.front {
    transition-duration: var(--animation-duration-slow);
}
.push-an:hover {
    transition-duration: var(--animation-duration-slow);
	transition-timing-function: var(--animation-interaction-interpolator);
}
.push-an:hover .front {
    transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);
}
.push-an:hover .shadow {
    transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);
}
.push-an:active .front {
    transition-duration: var(--animation-duration-plus-fast);
	transition-timing-function: var(--animation-interaction-interpolator);
}
.push-an:active .shadow {
    transition-duration: var(--animation-duration-plus-fast);
}
input.switch:focus-visible + label.switch > .front,
.push-an:focus-visible > .front {
	transition-duration: var(--animation-duration-fast);
	transition-timing-function: var(--animation-bounceback-interpolator);
}
.clock > .separator {
	animation: blinker 1s var(--animation-interpolator) infinite 
}

.blinker {
	animation: blinker 1s var(--animation-interpolator) infinite reverse;
}
}


/*  common layout  */
body {
	margin: 0rem;
	background: var(--background-color);
	font-feature-settings: "kern" 1, "dlig" 1;
}

.test {
	border: 1px solid red;
}


/*  block rules  */
.wrapper {
	display: flex;
	justify-content: center;
}
.block {
	
	display: flex;
	flex-flow: column nowrap;
	
	border-radius: var(--block-borderradius);
}

/*  block effects  */
.raised {
	background-color: var(--block-bg-color-hover);
	box-shadow: var(--theme-block-shadow-hover);
}
.raisable {
	background-color: var(--block-bg-color);
	box-shadow: var(--theme-block-shadow);
}
.raisable:hover,
.raisable:active,
.raisable:focus {
	background-color: var(--block-bg-color-hover);
	box-shadow: var(--theme-block-shadow-hover);
}
.lowered {
	background-color: var(--block-bg-color);
}

/*  header  */
header,
footer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	
	z-index: 5;
}
header {
	border-block-end: var(--theme-border);
}
footer {
	border-block-start: var(--theme-border);
}
.spacer {
	flex-basis: 0rem;
	flex-grow: 10;
}
.sticky {
	position: sticky;
	inset-block-start: 0;
	background-color: var(--background-color);
}

/*  content merging in a block  */
.block > * {
	padding: 2rem;
}
.block > *:first-child:not(:only-child) {
	padding-block-start: 2rem;
	padding-block-end: 0.25rem;
	
	border-radius: var(--block-borderradius) var(--block-borderradius) 0 0;
}
.block > *:not(:first-child):not(:last-child):not(:only-child) {
	padding-block: 0.25rem;
	border-radius: 0;
}
.block > *:last-child:not(:only-child) {
	padding-block-start: 0.25rem;
	padding-block-end: 2rem;
	
	border-radius: 0 0 var(--block-borderradius) var(--block-borderradius);
}
.content > .block > *:not(:only-child) { /*  */
	padding-block: 0.5rem;
}
/* content merging in a bar */
.bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.bar > * {	
	border-radius: var(--borderradius);
}
.bar > *:first-child:not(:only-child),
.bar > input[type="checkbox"]:first-child + *:nth-child(2):not(:only-child) { /* ля костыль */
	margin-inline-end: 0;
	border-radius: var(--borderradius) 0 0 var(--borderradius);
}
.bar > *:not(:first-child):not(:last-child):not(:only-child) {
	margin-inline: 0;
	border-radius: 0;
}
.bar > *:last-child:not(:only-child) {
	margin-inline-start: 0;
	border-radius: 0 var(--borderradius) var(--borderradius) 0;
}


/* specific bar type rules */
.actbar {
	padding: 0;
	flex-flow: row-reverse nowrap;
}
.content.bar .front {
	min-block-size: 2rem;
}


/*  content  */
html {
	font-size: var(--font-size);
}
.content {
	color: var(--text-color);
	border-radius: var(--block-borderradius);
}
footer .content {
	color: var(--text-color-lighter);
}

button > .content {	
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	padding: 0.5rem 1rem;
	
	color: var(--background-color);
	
	font-family: var(--font-button);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
}

.titlecontent {
	color: var(--text-color-darker);
	
	font-family: var(--font-head);
	font-size: var(--font-size-head);
	font-weight: var(--font-weight-head);
    /*text-align: center;*/
}
header .titlecontent {
	color: var(--accent-color-text);
}

.textcontent {
	font-family: var(--font-content);
	font-size: var(--font-size-content);
	font-weight: var(--font-weight-content);
	
	hyphens: auto;
}

.imagecontent {
	display: flex;
	align-items: center;
}

kbd {
	padding-inline: 0.5rem;
	
	color: var(--text-color);
	background-color: var(--block-bg-color-hover);
	
	font-family: var(--font-button);
	font-size: var(--font-size-content);
	font-weight: var(--font-weight-content);
	
	border-radius: calc(0.5 * var(--borderradius));
    border-block-end: solid var(--borderwidth) var(--accent-color-darker);
}
kbd:active,
kbd:focus {
	background-color: var(--bg-color-accented);
}

pre {
	padding: 1rem;
	
	color: var(--text-color-lighter);
	background-color: var(--bg-color-accented);
	
	font-family: var(--font-mono);
	font-size: var(--font-size-mono);
	font-weight: var(--font-weight-mono);
	
	border-radius: calc(0.5 * var(--borderradius));
	border-block-end: solid var(--borderwidth) var(--accent-color-darker);
}
.hl-user {
	color: var(--accent-color-text);
	filter: hue-rotate(-90deg) brightness(0.75) contrast(150%);
}
.hl-dir {
	color: var(--accent-color-text);
	filter: hue-rotate(-45deg) brightness(0.75) contrast(150%);
}

/*  accepted image sizes  */
.size-s {
	max-inline-size: 5rem;
	max-block-size: 5rem;
	
	border-radius: calc(0.5 * var(--block-borderradius));
}
.size-s.image > .image-clipper {
	clip-path: inset(0 round calc(0.5 * var(--block-borderradius)));
}
.size-m {
	max-inline-size: 10rem;
	max-block-size: 10rem;
	
	border-radius: calc(0.625 * var(--block-borderradius));
}
.image-clipper {
	clip-path: inset(0 round calc(0.625 * var(--block-borderradius)));
}
.size-l {
	max-inline-size: 15rem;
	max-block-size: 15rem;
	
	border-radius: calc(0.75 * var(--block-borderradius));
}
.size-l.image > .image-clipper {
	clip-path: inset(0 round calc(0.75 * var(--block-borderradius)));
}
.gallery-clipper {
	display: flex;
	flex-flow: row nowrap;
	overflow: auto;
	
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
}
.gallery-clipper::-webkit-scrollbar {
  display: none;
}
.gallery-item {
	max-inline-size: 80%;
	max-block-size: 100%;
	
	scroll-snap-align: center;
}

.image {
	position: relative;
}
.image > .image-clipper {
	position: relative;
	max-inline-size: inherit;
	max-block-size: inherit;
}
.image .image-front,
.image .image-back {
	max-inline-size: inherit;
	max-block-size: inherit;
	
	border-radius: inherit;
}
.image .image-back {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
}


/*  icon appearance  */
.icon {
	position: relative;
	display: inline-block;
	block-size: var(--font-size-content);
	inline-size: var(--font-size-content);
}
.inactive {
	opacity: 50%;
}
.front .icon {
	block-size: var(--font-size-button);
	inline-size: var(--font-size-button);
}
.masked {
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--text-color);
	mask-image: var(--mask-svg);
	-webkit-mask-image: var(--mask-svg);
}
.front .masked {
	background-color: var(--background-color);
}

/*  icons  */
.arrow {
	--mask-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M5.39,31.77c-1.31-1.31-1.31-3.41,0-4.71c0.65-0.65,1.5-0.98,2.36-0.98s1.7,0.33,2.36,0.98l11.57,11.57V3.34C21.67,1.5,23.16,0,25.01,0c1.84,0,3.34,1.49,3.34,3.34v35.29L39.9,27.05c1.31-1.31,3.41-1.31,4.71,0c1.31,1.31,1.31,3.41,0,4.71L27.36,49.02C26.73,49.64,25.89,50,25,50c-0.89,0-1.73-0.35-2.36-0.98L5.39,31.77z' /%3E%3C/svg%3E");
}

/*  https://www.joshwcomeau.com/animation/3d-button/  */
.push-an {
	position: relative;
	padding: 0;
	
	background: transparent;
	border: none;
	border-radius: var(--borderradius);
	
	cursor: pointer;
    transform: translateY(0.2rem);
}
.shadow {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;

	border-radius: inherit;
	background-color: var(--accent-color-10);
	transform: translateY(0.1rem);
}
.edge {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	border-radius: inherit;
	background-color: var(--accent-color-darker);
}
.front {
	display: block;
	position: relative;
	padding: 0;
	
	border-radius: inherit;
	background-color: var(--accent-color-lighter);
	
    transform: translateY(-0.25rem);
}
.push-an:hover {
	filter: brightness(110%);
}
.push-an:hover .front {
	transform: translateY(-0.3rem);
}
.push-an:hover .shadow {
	transform: translateY(0.15rem);
}
.push-an:active .front {
	transform: translateY(-0.1rem);
}
.push-an:active .shadow {
	transform: translateY(0.05rem);
}
.push-an:focus {
	outline: none;
	/*outline-offset: var(--borderwidth);*/
}

/*  switch style checkbox  */
input.switch {
	position: absolute;
	transform: scale(0%);
}
input.switch:focus-visible + label.switch > .front,
.push-an:focus-visible > .front {
	outline: solid calc(1.5 * var(--borderwidth)) var(--background-color);
	outline-offset: calc(-3 * var(--borderwidth));
}
label.switch {
	/*opacity: 0.75;*/
}
label.switch > .front {
	display: flex;
	justify-content: center;
	inline-size: 1rem;
	block-size: 1rem;
	/*border: solid var(--borderwidth) var(--accent-color-10);*/
}
label.switch > .content {
	padding: 0.25rem 0.5rem;
	
	color: var(--background-color);
	
	font-family: var(--font-button);
	font-size: var(--font-size);
	font-weight: var(--font-weight-head);
}
.switch:checked + label.switch {
    filter: brightness(0.75) saturate(1.5);
}
.switch:checked + label.switch > .front {
    transform: translateY(calc(-1.5 * var(--borderwidth)));
	/*border: solid var(--borderinline-size) var(--accent-color);*/
}
.switch:checked + label.switch:active > .front {
    transform: translateY(calc(-1 * var(--borderwidth)));
}/*
label.switch > .front::after {
	content: "◎";
}
.switch:checked + label.switch > .front::after {
	content: "◉";
}*/


/*  animations  */
@keyframes blinker {
	0% {opacity: 1;/* transform: scale(1)*/;}
	25% {opacity: 0;/* transform: scale(0)*/;}
	100% {opacity: 1;/* transform: scale(1)*/;}
}

.clock {
	display: flex;
	flex-flow: row wrap;
}
