@charset "utf-8";
@import url("vars.css");



/*  media queries  */
@media (min-width: 0em) {
.scroller {
	inline-size: 100vw;
}
.block {
	margin: 1rem 0rem 1rem 0rem;
}
.header {
	position: relative;
	padding: 1rem 2rem 1rem 2rem;
}
.header .titlecontent {
	font-size: var(--font-size-head);
}
label.switch {
	margin: 0;
}
.hidden {
	display: none;
}
}
.imagecontent {
	flex-flow: column wrap;
}
@media (min-width: 35em) {
.block {
	margin: 1rem 2rem 1rem 2rem;
}
.header {
	position: sticky;
	padding: 5rem 4rem 1rem 4rem;
}
label.switch {
	margin: 0rem 1rem 0rem 1rem;
}
.hidden {
	display: inherit;
}
}
@media (min-width: 60em) {
.scroller {
	inline-size: 50em;
}
.header .titlecontent {
	font-size: calc(1.25 * var(--font-size-head));
}
.imagecontent {
	flex-flow: row wrap;
}
}


/*    */
:root.animated,
:root.animated *:not(button),
:root.animated *:not(button):before,
:root.animated *:not(button):after {
	transition-property: all;
	transition-duration: var(--animation-duration-plus-slow);
	transition-timing-function: var(--animation-interpolator);
}
/*  common layout  */
* {
	scroll-behavior: smooth;
}
:focus {
	outline-offset: calc(-1 * var(--borderinline-size));
}
body {
	margin: 0rem;
	background: var(--background-color);
	font-feature-settings: "kern" 1, "dlig" 1;
}

.test {
	border: 1px solid red;
}


/*  block rules  */
.wrapper {
	display: flex;
	justify-content: center;
}

.block {
	
	display: flex;
	flex-flow: column nowrap;
	
	border-radius: var(--block-borderradius);
}

/*  */
.raised {
	background-color: var(--block-bg-color-hover);
	box-shadow: var(--theme-block-shadow-hover);
}
.raisable {
	background-color: var(--block-bg-color);
	box-shadow: var(--theme-block-shadow);
}
.raisable:hover,
.raisable:active,
.raisable:focus {
	background-color: var(--block-bg-color-hover);
	box-shadow: var(--theme-block-shadow-hover);
}
.lowered {
	background-color: var(--block-bg-color);
}

/*  header  */
.header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	
	border-block-end: var(--theme-border);
	z-index: 5;
}
.spacer {
	flex-basis: 0rem;
	flex-grow: 10;
}


/* content merging in a block */
.block > * {
	padding: 2rem;
}
.block > *:first-child:not(:only-child) {
	padding-block-start: 2rem;
	padding-block-end: 0.25rem;
	border-radius: var(--block-borderradius) var(--block-borderradius) 0 0;
}
.block > *:not(:first-child):not(:last-child):not(:only-child) {
	padding-block: 0.25rem;
	border-radius: 0;
}
.block > *:last-child:not(:only-child) {
	padding-block-start: 0.25rem;
	padding-block-end: 2rem;
	border-radius: 0 0 var(--block-borderradius) var(--block-borderradius);
}

/* content merging in a bar */
.bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}
.bar > * {	
	border-radius: var(--borderradius);
}
.bar > *:first-child:not(:only-child),
.bar > input[type="checkbox"]:first-child + *:nth-child(2):not(:only-child) { /* ля костыль */
	margin-inline-end: 0;
	border-radius: var(--borderradius) 0 0 var(--borderradius);
}
.bar > *:not(:first-child):not(:last-child):not(:only-child) {
	margin-inline: 0;
	border-radius: 0;
}
.bar > *:last-child:not(:only-child) {
	margin-inline-start: 0;
	border-radius: 0 var(--borderradius) var(--borderradius) 0;
}


/* specific bar type rules */
.actbar {
	padding: 0;
	flex-flow: row-reverse nowrap;
}



/*  content  */
html {
	font-size: var(--font-size);
}
.content {
	color: var(--text-color);
	border-radius: var(--block-borderradius);
}

button > .content {	
	padding: 0.5rem 1rem;
	
	color: var(--background-color);
	
	font-family: var(--font-button);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
}

.titlecontent {
	color: var(--text-color-darker);
	
	font-family: var(--font-head);
	font-size: var(--font-size-head);
	font-weight: var(--font-weight-head);
    /*text-align: center;*/
}
.header .titlecontent {
	color: var(--accent-color-text);
}

.textcontent {
	font-family: var(--font-content);
	font-size: var(--font-size-content);
	font-weight: var(--font-weight-content);
	
	hyphens: auto;
}

.imagecontent {
	/*padding-inline-start: 0rem;*/
	
	display: flex;
	align-items: center;
	justify-content: center;
}


/* accepted image sizes */
.size-5 {
	max-inline-size: 5rem;
	max-block-size: 5rem;
	border-radius: calc(0.5 * var(--block-borderradius));
}
.size-5.image > .image-clipper {
	clip-path: inset(0 round calc(0.5 * var(--block-borderradius)));
}
.size-10 {
	max-inline-size: 10rem;
	max-block-size: 10rem;
	border-radius: calc(0.625 * var(--block-borderradius));
}
.size-10.image > .image-clipper {
	clip-path: inset(0 round calc(0.625 * var(--block-borderradius)));
}
.size-15 {
	max-inline-size: 15rem;
	max-block-size: 15rem;
	border-radius: calc(0.75 * var(--block-borderradius));
}
.size-15.image > .image-clipper {
	clip-path: inset(0 round calc(0.75 * var(--block-borderradius)));
}
.image {
	position: relative;
}
.image > .image-clipper {
	position: relative;
	max-inline-size: inherit;
	max-block-size: inherit;
}
.image .image-front,
.image .image-back {
	max-inline-size: inherit;
	max-block-size: inherit;
	
	border-radius: inherit;
}
.image .image-front {
}
.raisable:hover .image .image-front {
	transform: scale(1.1);
}
.image .image-back {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	
	filter: blur(1rem) opacity(0.5);
	transform: translateY(0.5rem);
}
.raisable:hover .image .image-back {
	filter: blur(0) opacity(0);
}


/*  https://www.joshwcomeau.com/animation/3d-button/  */
.push-an {
	position: relative;
	padding: 0;
	
	background: transparent;
	border: none;
	border-radius: var(--borderradius);
	
	cursor: pointer;
    transform: translateY(0.2rem);
}
.shadow {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;

	border-radius: inherit;
	background-color: var(--accent-color-10);
	transform: translateY(0.1rem);
}
.edge {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	border-radius: inherit;
	background-color: var(--accent-color-darker);
}
.front {
	display: block;
	position: relative;
	padding: 0;
	
	border-radius: inherit;
	background-color: var(--accent-color-lighter);
	
    will-change: transform;
    transition-duration: var(--animation-duration-slow);
    transform: translateY(-0.25rem);
}
.push-an:hover {
	transition: filter;
    transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);
	filter: brightness(110%);
}
.push-an:hover .front {
    transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);
	transform: translateY(-0.3rem);
}
.push-an:hover .shadow {
    /*transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-bounceback-interpolator);*/
	transform: translateY(0.15rem);
}
.push-an:active .front {
    transition-duration: var(--animation-duration-plus-fast);
	transition-timing-function: var(--animation-interaction-interpolator);
	transform: translateY(-0.1rem);
}
.push-an:active .shadow {
    /*transition-duration: var(--animation-duration-plus-fast);*/
	transform: translateY(0.05rem);
}


/* switch style checkbox */
input.switch {
	display: none;
}
label.switch {
	opacity: 0.75;
}
label.switch > .front {
	display: flex;
	justify-content: center;
	inline-size: 1rem;
	block-size: 1rem;
	/*border: solid var(--borderinline-size) var(--accent-color-10);*/
}
label.switch > .content {
	padding: 0.25rem 0.5rem;
	
	color: var(--background-color);
	
	font-family: var(--font-button);
	font-size: var(--font-size);
	font-weight: var(--font-weight-head);
}
.switch:checked + label.switch {
    filter: brightness(0.75) saturate(1.5);
}
.switch:checked + label.switch > .front {
    transform: translateY(calc(-1.5 * var(--borderinline-size)));
	/*border: solid var(--borderinline-size) var(--accent-color);*/
}
.switch:checked + label.switch:active > .front {
    transform: translateY(calc(-1 * var(--borderinline-size)));
}/*
label.switch > .front::after {
	content: "◎";
}
.switch:checked + label.switch > .front::after {
	content: "◉";
}*/

kbd {
	padding-inline: 0.5rem;
	
	background-color: var(--block-bg-color-hover);
	color: var(--text-color);
	
	font-family: var(--font-button);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-content);
	
	border-radius: calc(0.5 * var(--borderradius));
    border-block-end: solid var(--borderinline-size) var(--accent-color);
}
kbd:active,
kbd:focus {
	background-color: var(--block-bg-color);
}
/* clock */
@keyframes cpulse {
	0% {opacity: 1;/* transform: scale(1)*/;}
	25% {opacity: 0;/* transform: scale(0)*/;}
	100% {opacity: 1;/* transform: scale(1)*/;}
}

.clock {
	display: flex;
	flex-flow: row wrap;
}
.clock > .separator {
	animation: cpulse 1s var(--animation-interpolator) infinite;
}