@charset "utf-8";

/* https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a */
/* media queries */
@media (prefers-reduced-motion: no-preference) {
:focus {
	transition: outline-offset var(--animation-duration);
	transition-timing-function: var(--animation-interpolator);
  }
}
@media (prefers-reduced-motion) {
:root {
	--animation-duration: 0ms !important;
	--3d-scale: 0 !important;
}
}

@media (min-width: 0em) {
:root {
	--adp-height: 1.5rem;
}
}

@media (min-width: 35em) {
:root {
	--adp-height: 1rem;
}
}


/* other variables */
::selection {
	/*color: ;*/
	background: var(--selection-color);
}


:root,
:root[data-dark-mode='false'] {
	/* ThemeEngine2(tm) */
	--hue: var(--accent-hue);
	--accent-hue: 220;
	--saturation-theme: 1;
	
	--text-color: hsl(var(--hue), calc(var(--saturation-theme) * 5%), 15%);
	--text-color-darker: hsl(var(--hue), calc(var(--saturation-theme) * 5%), 10%);
	--text-color-lighter: hsl(var(--hue), calc(var(--saturation-theme) * 5%), 30%);
	
	--background-color: hsl(var(--hue), calc(var(--saturation-theme) * 15%), 90%);
	--block-bg-color: var(--background-color);
	--block-bg-color-hover: hsl(var(--hue), calc(var(--saturation-theme) * 20%), 95%);
	
	--accent-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 60%);
	--accent-color-10: hsla(var(--accent-hue), calc(var(--saturation-theme) * 40%), 60%, 0.1);
	--accent-color-darker: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 40%);
	--accent-color-darkest: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 30%);
	--accent-color-lighter: hsl(var(--accent-hue), calc(var(--saturation-theme) * 60%), 60%);
	--accent-color-text: hsl(var(--accent-hue), calc(var(--saturation-theme) * 60%), 60%);
	--selection-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 60%);
	
	
	/* font-related */
	
	--font-size: 18px;
	--font-weight: 500;
	
	--font-head: Manrope, "sans-serif";
	--font-content: Rubik, "sans-serif";
	--font-button: Jost, "sans-serif";
	--font-weight-head: 700;
	--font-weight-content: 400;
	--font-weight-button: 500;
	--font-size-head: clamp(1.5rem, 0.0000rem + 3.3333vw, 2rem);
	--font-size-content: clamp(1rem, 0.2500rem + 1.6667vw, 1.25rem);
	--font-size-button: 1.25rem;
	
	
	/* border-related */
	--theme-border: dotted var(--borderwidth) var(--accent-color);
	
	--borderwidth: 2px;
	--borderradius: 0.5rem;
	--block-borderradius: 2rem;
	
	--input-textcolor: var(--textcolor);
	
	--theme-block-shadow: 0 0 0 hsla(0,0%,0%,0.1);
	--theme-block-shadow-hover: 0 0.5rem 2rem hsla(0,0%,0%,0.1);
	
	--theme-outline: var(--borderwidth) solid var(--text-color);
	
	
	/* animation settings */
	--animation-duration: 150ms;
	--animation-duration-plus-fast: calc(0.25 * var(--animation-duration));
	--animation-duration-fast: calc(0.5 * var(--animation-duration));
	--animation-duration-slow: calc(2.0 * var(--animation-duration));
	--animation-duration-plus-slow: calc(4.0 * var(--animation-duration));
	--animation-interpolator: cubic-bezier(.25,.1,0,1);
	--animation-interaction-interpolator: cubic-bezier(0,.5,0,1);
	--animation-bounceback-interpolator: cubic-bezier(0,.75,.5,2.0);
	
	
	/* touch targets size (probably?) */
	--adp-height: 1rem;
}
@media (prefers-color-scheme: dark) {
:root {
	/* ThemeEngine2(tm) */
	--saturation-theme: 0.5;
	
	--text-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 80%);
	--text-color-darker: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 90%);
	--text-color-lighter: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 60%);
	
	--background-color: hsl(var(--hue), calc(var(--saturation-theme) * 15%), 5%);
	--block-bg-color-hover: hsl(var(--accent-hue), calc(var(--saturation-theme) * 10%), 10%);
	
	--accent-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 50%);
	--accent-color-10: hsla(var(--accent-hue), calc(var(--saturation-theme) * 40%), 50%, 0.1);
	--accent-color-darker: hsl(var(--accent-hue), calc(var(--saturation-theme) * 50%), 30%);
	--accent-color-lighter: hsl(var(--accent-hue), calc(var(--saturation-theme) * 70%), 50%);
		
	
	/* font-related */
	/*--font-weight-head: 600;
	--font-weight-content: 300;
	--font-weight-button: 400;*/
}
}
:root[data-dark-mode='true'] { /* should duplicate query vars */
	/* ThemeEngine2(tm) */
	--saturation-theme: 0.5;
	
	--text-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 80%);
	--text-color-darker: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 90%);
	--text-color-lighter: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 60%);
	
	--background-color: hsl(var(--hue), calc(var(--saturation-theme) * 15%), 5%);
	--block-bg-color-hover: hsl(var(--accent-hue), calc(var(--saturation-theme) * 10%), 10%);
	
	--accent-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 50%);
	--accent-color-10: hsla(var(--accent-hue), calc(var(--saturation-theme) * 40%), 50%, 0.1);
	--accent-color-darker: hsl(var(--accent-hue), calc(var(--saturation-theme) * 50%), 30%);
	--accent-color-lighter: hsl(var(--accent-hue), calc(var(--saturation-theme) * 70%), 50%);
		
	
	/* font-related */
	/*--font-weight-head: 600;
	--font-weight-content: 300;
	--font-weight-button: 400;*/
}