@charset "utf-8";


/* media queries */
@media (prefers-reduced-motion: no-preference) {
:focus {
	transition: outline-offset var(--animation-duration);
	transition-timing-function: var(--animation-interpolator);
  }
}
@media (prefers-reduced-motion) {
:root {
	--animation-duration: 0ms !important;
	--3d-scale: 0 !important;
}
}

@media all 
and (min-width: 0em) {
:root {
	--block-borderradius: 0;
	--block-width: 100%;
	--adp-height: 1.5rem;
}
}

@media all 
and (min-width: 35em) {
:root {
	--block-borderradius: var(--borderradius);
	--block-width: 30rem;
	--adp-height: 1rem;
}
}


/* other variables*/
::selection {
	/*color: ;*/
	background: var(--selection-color);
}
:root.animation,
:root.animation *,
:root.animation *:before,
:root.animation *:after {
	transition: all var(--animation-duration);
	transition-timing-function: var(--animation-interpolator);
}
:root {
	/* ThemeEngine2(tm) */
	--hue: var(--accent-hue);
	--accent-hue: 220;
	--accent-hue-manual: var(--hue);
	--saturation-theme: 1;
	
	--text-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 15%);
	--text-color-darker: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 10%);
	--text-color-lighter: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 20%);
	
	--background-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 15%), 85%);
	--block-title-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 90%);
	--block-content-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 95%);
	--block-content-bg-color-param: var(--accent-hue), calc(var(--saturation-theme) * 20%), 85%; /* for gradient button layer bg */
	--contentbox-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 90%);
	
	--accent-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 60%);
	--accent-color-25: hsla(var(--accent-hue), calc(var(--saturation-theme) * 40%), 60%, 0.25);
	--accent-color-param: var(--accent-hue), calc(var(--saturation-theme) * 40%), 60%;
	--accent-color-inactive: hsla(var(--accent-hue), calc(var(--saturation-theme) * 10%), 60%, 0.5);
	--accent-color-manual: hsl(var(--accent-hue-manual), calc(var(--saturation-theme) * 40%), 60%);
	--selection-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 40%), 50%);
	
	
	/* other color-related */
	--theme-glow: 0 1px var(--theme-glow-radius) var(--theme-glow-color);
	--theme-glow-radius: 2px;
	--theme-glow-color: var(--accent-color-25);
	--theme-input-color: hsla(var(--accent-color-param), 0);
	--theme-input-color-hover: hsla(var(--accent-color-param), 0.05);
	--theme-input-color-active: hsla(var(--accent-color-param), 0.1);
	--theme-input-handle-color: var(--block-content-bg-color);
	--theme-textinput-color: hsla(var(--accent-color-param), 0.02);
	
	--content-padding: 1.5rem;
	--block-padding: 1rem;
	--block-title-padding: 0.25rem;
	--block-title-padding-bottom: var(--block-title-padding);
	
	
	/* font-related */
	
	--font-size: 16px;
	--font-weight: 500;
	
	--font-head: Jost, "sans-serif";
	--font-content: Jost, "sans-serif";
	--font-input: Jost, "sans-serif";
	--font-button: Jost, "sans-serif";
	--font-weight-head: 500;
	--font-weight-content: 500;
	--font-weight-button: 500;
	--font-size-head: 1.5rem;
	--font-size-content: 1rem;
	--font-size-input: 1rem;
	--font-size-button: 1.25rem;
	
	
	/* border-related */
	--theme-border: solid var(--borderwidth) var(--accent-color);
	--theme-border-inactive: solid var(--borderwidth) var(--accent-color-inactive);
	--theme-border-manual: solid var(--borderwidth) var(--accent-color-manual);
	
	--borderwidth: 2px;
	--borderradius: 0.25rem;
	--input-textcolor: var(--textcolor);
	
	--theme-block-shadow: 0px 10px 30px hsla(0,0%,0%,0.05);
	--theme-block-shadow-hover: 0px 15px 40px hsla(0,0%,0%,0.1);
	--theme-block-shadow-double: 0px 10px 30px hsla(0,0%,0%,0.1);
	
	--theme-outline: var(--borderwidth) solid var(--text-color);
	
	
	/* animation settings */
	--animation-duration: 150ms;
	--animation-duration-plus-fast: calc(0.25 * var(--animation-duration));
	--animation-duration-fast: calc(0.5 * var(--animation-duration));
	--animation-duration-slow: calc(2.0 * var(--animation-duration));
	--animation-duration-plus-slow: calc(4.0 * var(--animation-duration));
	--animation-interpolator: cubic-bezier(.25,.1,0,1);
	--animation-interaction-interpolator: cubic-bezier(.25,.1,0,1);
	
	
	/* touch targets size (probably?) */
	--adp-height: 1rem;
}
:root[data-color-mode='dark'] {
	/* ThemeEngine2(tm) */
	--saturation-theme: 0.5;
	
	--text-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 85%);
	--text-color-darker: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 80%);
	--text-color-lighter: hsl(var(--accent-hue), calc(var(--saturation-theme) * 5%), 90%);
	
	--background-color: hsl(var(--hue), calc(var(--saturation-theme) * 15%), 5%);
	--block-title-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 10%), 7.5%);
	--block-content-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 10%), 10%);
	--block-content-bg-color-param: var(--accent-hue), calc(var(--saturation-theme) * 20%), 10%; /* for gradient button layer bg */
	--contentbox-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 15%);
}

:root[data-theme='1'] { /* more whitespace, less color */
	/* ThemeEngine2(tm) */
	--hue: 220;
	--accent-hue: 220;
	--saturation-theme: 0;
	
	--background-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 15%), 95%);
	--block-title-bg-color: var(--block-content-bg-color);
	--block-content-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 92.5%);
	--block-content-bg-color-param: var(--accent-hue), calc(var(--saturation-theme) * 20%), 92.5%; /* for gradient button layer bg */
	--contentbox-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 90%);
	
	
	/* other color-related */
	--theme-input-handle-color: var(--theme-input-color);
	--theme-input-color: hsla(var(--accent-color-param), 0.15);
	--theme-input-color-hover: hsla(var(--accent-color-param), 0.25);
	--theme-input-color-active: hsla(var(--accent-color-param), 0.2);
	--theme-textinput-color: hsla(var(--accent-color-param), 0.1);
	--theme-input-handle-color: var(--accent-color);
	
	--content-padding: 2rem;
	--block-padding: 0.25rem;
	--block-title-padding: var(--content-padding);
	--block-title-padding-bottom: var(--block-padding);
	
	
	/* font-related */
	--font-head: HelveticaNeueCyr;
	--font-content: HelveticaNeueCyr;
	--font-button: Helvetica Neue;
	--font-weight-head: 700;
	--font-weight-content: 400;
	--font-weight-button: 500;
	
	
	/* border-related */
	--theme-glow: none;
	--theme-border: none;
	--theme-border-inactive: none;
	--block-borderradius: 1rem;

	--theme-block-shadow: none;
	--theme-block-shadow-hover: none;
}
:root[data-theme='1'][data-color-mode='dark'] {
	--background-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 15%), 5%);
	--block-title-bg-color: var(--block-content-bg-color);
	--block-content-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 8.5%);
	--block-content-bg-color-param: var(--accent-hue), calc(var(--saturation-theme) * 20%), 8.5%; /* for gradient button layer bg */
	--contentbox-bg-color: hsl(var(--accent-hue), calc(var(--saturation-theme) * 20%), 10%);
}